{% extends 'base.html' %}
{% load static %}

{% block title %}
    Error
{% endblock %}

{% block content %}
<style>
    .image {
        background-image: url("{% static 'images/Pop Up Window PNG Picture, Web Page System Pop Up Window Error Warning Retro Serious, Web Page, System Popup, Serious Warning PNG Image For Free Download.jpg' %}");
        height: 100vh;  /* Make sure it covers the full viewport height */
    }
</style>

<body class="bg-dark">
    <div class="image">

    </div>
</body>

{% endblock %}
