
body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    overflow-y:auto;
}

/* Welcome page */


/* Base.html */

.mar_foot{
padding:0;
}

.footer {
background: linear-gradient(to right, #393E46,grey);
color: white;
padding: 30px 0;
margin: 0;
width: 100%;
position: relative;
border-top: 1px solid white;
}

.foot_text{
color:#ada5a7
}

/* home.html */

.dark{
color:white;
-webkit-text-stroke: 0.8px black;

}

.top-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_top{
position:relative;
overflow:hidden;
}

.content_top{
left:25%;
bottom:-240px;
position:absolute;
transition: all 0.3s;
}

.card_top>img{
/*width:100%;*/
/*height:100%;*/
transition: all 0.3s;
}

.card_top:hover .content_top {
bottom:20px;
}

.card_top:hover img{
filter: brightness(0.6);
}


.title_top{
font-weight:bolder;
font-size:xx-large;
font-family:Impact;
font-family:Arial Black;
color:white;
font-size:22px;
-webkit-text-stroke: 0.8px black;
}

.top_b-font{
font-family:Arial Black;
color:white;
}

